<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <style>
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        html > body {
            font-family: "GmarketSansMedium", serif;
            text-underline-position: under;
        }
    </style>
    <title>MUTBOOKS</title>
</head>
<body style="min-height:100vh;" class="d-flex flex-column">

<!-- 네비게이션바 -->
<header class="d-flex justify-content-between p-3">
    <p>MUTBOOKS</p>
    <div class="container" style="text-align: right;">
        <a th:href="@{/}">메인</a>
        <a th:href="@{/member/login}">로그인</a>
        <a th:href="@{/member/join}">회원가입</a>
    </div>
</header>

<main class="flex-grow-1">
    <section layout:fragment="content" class="container">
        <div>내용</div>
    </section>
</main>

<footer class="bg-dark text-light">
    <div class="container py-3 d-flex justify-content-center">
        Copyright all rights reserved
    </div>
</footer>
</body>
</html>