<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<section layout:fragment="content">
  <div th:if="${param.password != null}" class="text-center" style="margin: 0 auto;">
    <h2>임시 비밀번호를 이메일로 전송했습니다!!</h2>
    <a th:href="@{/member/login}">로그인</a>
  </div>
  <div th:if="${param.password == null}" class="text-center" style="margin: 0 auto;">
    <h2 th:text="|가입 내역이 없습니다.|"></h2>
    <a th:href="@{/member/findPassword}">비밀번호 찾기</a>
  </div>
</section>
</html>